<div class="card">
  <div class="card-header">
    <h3><%= t('landing-page.edit.welcome_text') %></h3>
  </div>
  <embed-form selector=".content-form">
    <%= render 'admin/contents/form', content: @welcome_text %>
  </embed-form>
</div>
