<%= form_for content, url: admin_content_path(content), html: { class: 'content-form' } do |f| %>

  <div class="card-block">
    <div class="form-group">
      <%= f.label :content, :body do %>

        <preview-text-area language="markdown">
          <%= f.text_area :body, rows: 8, cols: 80 %>
        </preview-text-area>
      <% end %>
    </div>
  </div>

  <footer class="card-footer">
    <%= f.submit "Speichern" %>
  </footer>

<% end %>
