<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Inhalt</th>
    </tr>
  </thead>
  <tbody>
    <% @contents.each do |content| %>
      <tr>
        <td><%= content.name %></td>
        <td><%= content.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
