body
  font-size: 16px

*
  font-family: 'open_sanslight'


h1, h2, h3, h4, h5, h6
  margin-top: 0

h1, h2, h3, h4, h5, h6, strong
  font-family: 'akrobatbold'

h1
  font-size: 3.75rem

h2
  font-size: 3rem

h3
  font-size: 2.25rem

h4
  font-size: 1.875rem

h2, h3
  margin-bottom: 1rem

// font layout
p, li
  font-size: 1.125rem
  line-height: 1.7
